<div class="row head">
  <div class="col-md-4 nav-item"><a href="/posts/{{id}}">{{post_title}}</a></div>
  <div class="col-md-4 ms-auto text-end nav-item">{{user.username}}</div>
</div>
<div class="content">
  <p>{{post_content}}</p>
</div>





{{!-- <article class="post">
  <div class="title">
    
  </div>
  <div class="meta">
    by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article> --}}